<mat-sidenav-container>
    <mat-sidenav-content>
        <mat-toolbar class="mat-hue-2" color="primary">
            <button mat-icon-button [matMenuTriggerFor]="rootMenu">
                <mat-icon color="warn">menu</mat-icon>
            </button>

            <h2 class="md-truncate flex">Toolbar with Disabled/Enabled Icon Buttons</h2>

            <button mat-icon-button color="warn">
                <mat-icon>favorite</mat-icon>
            </button>

            <button mat-icon-button>
                <mat-icon>mood</mat-icon>
            </button>

            <mat-menu #rootMenu>
                <ng-container *ngFor="let menus of menuList">
                    <button mat-menu-item [matMenuTriggerFor]="subMenu">{{menus.cateName}}</button>
                    <mat-menu #subMenu>
                        <ng-container *ngFor="let menu of menus.menuList">
                            <button mat-menu-item *ngIf="menu.node === 2" (click)="menuClick(menu, $event)">{{menu.name}}</button>
                        </ng-container>
                    </mat-menu>
                </ng-container>
            </mat-menu>
        </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>
